body {
    font-family: Arial, sans-serif;
  }
 h1{text-align: center;}
  nav {
    background-color: gray;
    overflow: hidden;
    text-align: center;
  }
  nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  nav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .Headers{
    text-align: center;
    font: bold;
  }
.basicFunc {
  display: inline-block;
  padding: 10px 10px;
  margin: 5px;
  text-align: right;
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Border for the button */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #45a049;
  color: white;
}

/* Style for the Edit button */
.basicFunc.edit-link {
  background-color: #4CAF50; /* Green background */
  color: white;
}

.basicFunc.edit-link:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style for the Delete button */
.basicFunc.delete-link {
  background-color: #f44336; /* Red background */
  color: white;
}

.basicFunc.delete-link:hover {
  background-color: #da190b; /* Darker red on hover */
}
.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}
.action-buttons {
  display: flex; /* Use flexbox to align buttons side by side */
  gap: 10px; /* Add space between buttons */
}