<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <div>
        <nav>
            <a th:href="@{/}">Home Page</a>
            <a th:href="@{/UserPage}">Home Page</a> 
            <a th:href="@{/recipes/index}">Recipes Page</a>


        </nav>
    </div>
    <div>
        <h1 class="Headers">List of Clients</h1>
    </div>
</head>
<body>


        <table class="Tables">
            <thead>
            <tr>
                <th>ID</th>
                <th>Recipe Name</th>
                <th>Instructions</th>
                <th>Food origin</th>
                <th>Food Type</th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(recipes)}">
                    <td colspan="6">No recipes available</td>
                </tr>
       
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}"></td>
                    <td th:text="${recipe.recipeName}"></td>
                    <td th:text="${recipe.instructions}"></td>
                    <td th:text="${recipe.category}"></td>
                    <td th:text="${recipe.foodType}"></td>
                    <td>
                            <button id="add_button" type="submit">Add</button>

                        

                    </td>
                </tr>
            </tbody>
            
            
        </table> 
    </div>
</body>
</html>