<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meal Plan Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Meal Plan</h1>
    <form action="/recipes/index" method="post">
        <!-- Filter by Category -->
        <fieldset>
            <legend>Category</legend>
            <label th:each="category : ${category}">
                <input type="checkbox" name="category" th:value="${category}" />
                <span th:text="${category}"></span>
            </label>
        </fieldset>
    
        <!-- Filter by Food Type -->
        <fieldset>
            <legend>Food Type</legend>
            <label th:each="foodType : ${foodType}">
                <input type="checkbox" name="foodType" th:value="${foodType}" />
                <span th:text="${foodType}"></span>
            </label>
        </fieldset>
    
        <!-- Submit Button -->
        <button type="submit">Apply Filter</button>
    </form>
    <h2>Filtered Recipes</h2>
    <table class="Tables">
        <thead>
            <tr>
                <th>ID</th>
                <th>Recipe Name</th>
                <th>Instructions</th>
                <th>Food Origin</th>
                <th>Food Type</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(recipes)}">
                <td colspan="5">No recipes available</td>
            </tr>

            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.recipeName}"></td>
                <td th:text="${recipe.instructions}"></td>
                <td th:text="${recipe.category}"></td>
                <td th:text="${recipe.foodType}"></td>
                <td>
                    <button id="add_button" type="submit">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>