<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <div>
        <nav>
            <a th:href="@{/index}">Home Page</a>
            <a th:href="@{/userhome}">Home Page</a> 
            <a th:href="@{/recipes/recipe}">Recipes Page</a>
            <a th:href="@{/recipes/filter}">Filter the Recipes </a>

        </nav>
    </div>
    <div>
        <h1 class="Headers">List of Clients</h1>
    </div>
</head>
<body> 
    <a th:href="@{/recipes/create}">create a recipe</a>


        <table class="Tables">
            <thead>
            <tr>
                <th>ID</th>
                <th>Recipe Name</th>
                <th>Instructions</th>
                <th>Food origin</th>
                <th>Food Type</th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(recipes)}">
                    <td colspan="6">No recipes available</td>
                </tr>
       
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}"></td>
                    <td th:text="${recipe.recipeName}"></td>
                    <td th:text="${recipe.instructions}"></td>
                    <td th:text="${recipe.category}"></td>
                    <td th:text="${recipe.foodType}"></td>
                    <td>
                        <div class="action-buttons">
                            <button class="add_button" type="submit">Add</button>
                            <a th:href="@{'/recipes/edit?id=' + ${recipe.id}}" class="edit-link">Edit</a>
                            <a th:href="@{'/recipes/delete?id=' + ${recipe.id}}"
                            onclick="return confirm('Are you sure?')"
                            class="delete-link">Delete</a>
                         
                        </div>
                        

                        

                    </td>
                </tr>
            </tbody>
            
            
        </table> 
    </div>
</body>
</html>