<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <!-- navigation bar -->
        <nav>
            <a th:href="@{/}">Home Page</a> 
            <a th:href="@{/UserPage}">Home Page</a> 
            <a th:href="@{/recipes/recipe}">Recipes Page</a>
            <a th:href="@{/recipes/filter}">Filter the Recipes </a>


        </nav>
         <!-- title of webpage -->
        <h1 class="center_text"> Welcome  </h1>
    </body>
     
</html>